$bgGradient : linear-gradient(to left, rgba(30,87,153,1) 0%,rgba(176,48,254,1) 0%,rgba(117,72,251,1) 100%);
$white :#ffffff;
$balck :#000;
$gray : #222222;
$lightGray :#777780;
$grayBg : #f9f9ff;
$darkBlue : #372e66 ;

$blue :rgba(30,87,153,1) 0%;
$purple : rgba(176,48,254,1) 0%;
$lightBlue : rgba(117,72,251,1) 100%;

$container : 89%;
$padRight : 45px;
$paddingSec : 125px 0px ;
$btnPadding : 20px 45px ;
$btnStorPadding :20px 30px;
$whiteBoxPadding :40px;
$uniquFeatureBox : 50px 30px;
$padBottom : 80px;

$alignCenter : center ;
$marginAuto : 0 auto;
$flex :flex;
$borderRedius : 5px;


$h1Font : 70px;
$h2Font :40px;
$pFont : 24px;
$pSmallFont :16px;

// -------heroSec_img-------
$heroSecBgImg : url("../img/banner/home-banner.jpg");
$mobileright :url("../img/banner/right-mobile.png");

// ----weBeliveSec_img------
$mobile2Left : url("../img/interior-1.png");
$mobileFlatRight : url("../img/interior-2.png");

// -------video_img-----
$videoImg : url("../img/video-1.png");


 




